n8n_workflows/chatbot.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        -256
      ],
      "id": "4af5df42-552d-4737-923d-771aab9db7be",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        -64
      ],
      "id": "535819c1-9b66-4f4e-beb8-02ae6ad4e4e7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "arNe00vnGRzdSE5x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cd58372c-1273-46e3-a18b-09333dc79372",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        -256
      ],
      "id": "ebaa6e36-9786-415c-8137-b287f4bf6e95",
      "name": "Webhook",
      "webhookId": "cd58372c-1273-46e3-a18b-09333dc79372"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        -64
      ],
      "id": "54195145-9fe3-4870-8d38-8125d4dcd541",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"reply\": $json.output ?? \"\",\n    \"sessionId\": $('Webhook').item.json.body.sessionId ?? \"\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        688,
        -256
      ],
      "id": "623ade65-54f5-4076-ae1b-23625ea64c69",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-ai-test.dakatos.online",
            "user-agent": "node",
            "content-length": "282",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "via": "1.1 Caddy",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-ai-test.dakatos.online",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "chatInput": "wie sieht der Himmel in der Nacht aus",
            "action": "sendMessage",
            "sessionId": "2a993690-1bd6-4492-8787-f9745958af84",
            "metadata": {
              "url": "/",
              "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36"
            }
          },
          "webhookUrl": "https://n8n-ai-test.dakatos.online/webhook/cd58372c-1273-46e3-a18b-09333dc79372",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e6331cc-86c9-4c07-98be-e69c52c8a850",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fabd601292aec41d190e7480676f479190ec0a9aad38461f46702bfb1ca7b2cf"
  },
  "id": "s2FdPi84guCm8Xrt",
  "tags": []
}